<html>

<head>
	<title>Home Page</title>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<link href = "css/bootstrap.min.css" rel = "stylesheet">
	<link href = "css/bootstrap-theme.min.css" rel = "stylesheet">
	<link href = "css/hometest.css" rel = "stylesheet">
	<link href = "css/navbar.css" rel = "stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Milonga&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

</head>

<body>

	<div class ="container" id = homepage>
		<!-- No handlebars yet-->

		<div class ="row">
			<div class = "col-xs-10 col-xs-offset-1 title">
					<center><div class="demo-stuff">welcome </div></center>
			</div>
		</div>

		<div class ="row">
			<div class = "col-xs-10 col-xs-offset-1 title">
				<center><img src="assets/bottle.png"/ style="height:100px; margin-top: 50px; margin-bottom:-55px"></center>
					<h1 class = "plastrack" >plastrack</h1>
			</div>
		</div>

<div class="wrapper">
		<div class="flex-grid-half">				
			
			
  			<div class="col"  id="log"><a href="/logpage"><h2><b>Log a Plastic</b></h2></a></div> 
  			
  			<div class="col"> <a href="/history"><h2>view log history</h2></a></div>
		</div>

	<div class="flex-grid-half">
		
	  	<div class="col"><a href="/share"><h2>share progress</h2></a></div> 
	  	<div class="col"> <a href="/tips"><h2>sustainability tips</h2></a></div> 
	</div>

	<div class="flex-grid-half">

		<div class="col"><a href="/settings"><h2>settings</h2></a></div>
	  	<div class="col"><a href="/help"><h2>help</h2>	</a></div>

	  </div>
</div>
		
	</div>	


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
     	https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>
	<script src="js/hometest.js"></script>
</body>

</html>
