<html>
	<head>
		<title> Join plastrack </title>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<link href = "css/bootstrap.min.css" rel = "stylesheet">
		<link href = "css/bootstrap-theme.min.css" rel = "stylesheet">
		<link href = "css/signup.css" rel = "stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
     	https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>

		<script src="js/loginfirebase.js"></script>
		</head>

		<body>

			<h1>join plastrack</h1>
			<div id="formContainer">
				<div id = "header"> </div>

				<input type="email" placeholder="email" id="email" />
				<input type="password" placeholder="password (minimum of 6 characters)" id="password" />
				<input type="password" placeholder="confirm password" id="password2" />
				<p></p>
				<div id="buttons">
				<p></p>
				<button onclick="signUp()" id="signUp"> Sign Up </button>
				<!-- <button onclick="signOut()" id="signOut"> Sign Out </button> -->
				<p></p>
				<p> Already have an account? Sign in <a href="/" style="color:white">here!</a></p>
				<button onclick="fbsignin()">Sign in with Facebook</button>
				</div>
			</div>
		</body>
<html>

