 body {
  font-family: 'Reem Kufi', sans-serif;
  color: #15203B;
  background-image: linear-gradient(175deg, #314882, #8C9EC0 22%, #c0c0c0 65%, #8C9EC0 99%);
  background-attachment: fixed;
  background-position: center;
}


@keyframes fadeInAnimation { 
0% { 
  opacity: 0; 
  } 
  100% { 
  opacity: 1; 
  } 
} 


.wrapper {
   display: flex;
  flex-flow: column wrap;
  height: auto;
}

.flex-grid-half {
  display: flex;
  justify-content: space-between;
  animation: fadeInAnimation ease 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  width: 100%;
}
.flex-grid-half .col {
  font-family: 'Reem Kufi', sans-serif;
   display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 52%;
  padding: 0px;
  margin: -1px 16px 5px -10px;
  min-height: 125px;
  background: #768CB6; 
  box-shadow: 2px 2px 15px #c0c0c0;
  transition: 0.2s;
}

#profilePic{
  background: #314882 none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
  height: 45px;
  margin: 0 5 0;
  margin-top:-7px;
  padding: 2px;
  width: 45px;
}

#log{
    background: #314882;
  }

.col:hover, #log:hover {
    background: #DFD32B;
    text-shadow: 2px 3px 2px #994f05;
    transition: 0.03s;
}
.col {
  width: 50%;
}
.col p.options a {
  color: white;
  text-shadow: 1px 1px 2px #333;
  font-size: 20px;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    display:block;
    width:100%;
}

.col p.options a:hover{
    text-shadow: 2px 4px 2px #de6903;
    color: white;
}

@media  (max-width: 100%) {
  .flex-grid,
  .flex-grid-half {
    display: block;
  }
}


* {
  box-sizing: border-box;
}

.demo-stuff {
  margin-top: 3%;
  font-size: 18px;
  height: 30px;
  color: #fff;
  text-shadow: 1px 1px #802D2F;
  box-shadow: 2px 2px 1px #15203B;
  border-radius: 1px;
  background: #314882;
    animation: fadeInAnimation ease 7s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

.row {
    margin-bottom: 3px;
}
 .container {
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
 }

.plastrack {
    font-family: 'Reem Kufi', sans-serif;
    height: 100px;
    font-size: 75px;
    color: #DFD32B;
    letter-spacing: -2px;
    margin: 100px auto;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 2px 1px #de6903;
}

h2 {
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

h2 b {
     text-align: center;
    color: white;
}

h1 {
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    font-size: 65px;
}


a:active {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
