body{
  font-family: 'Manjari', sans-serif;
  color: #15203B;
    font-size: 15px;
     background-image: linear-gradient(179deg, #314882, #8C9EC0 20%, #768CB6, #cfcfcf 80%, #c0c0c0 85%, #D2CC76);
     background-position: center;
     margin-bottom: 2vh;
}

h2 {
    text-align: center;
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
    color:#15203B;
    margin: 0;
}

h1.plastrack{
	font-family: 'Lexend Deca', sans-serif;
  font-size: 35px;
  color:#DFD32B;
  text-shadow: 2px 1px 1px #333;
}

.totals {
  margin: 10px 0px 30px 0px;
  height: 10vh;
	background-color: #5F77A6;
	border-radius: 5px; 
	color: white;
	  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 3px #314882;
}

.tip2 {
	background-color: #314882;
	color: white;
	  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.plastic-list, .trash-add-delete {
	margin: 0;
	height: 80vh;
	width: 100%;
}
.plastic-list {
	width: 40%;
	padding: 0;
	border-radius: 15px;
  background-color: #5F77A6;
  box-shadow: 3px 3px 4px #314882;
}
.trash-add-delete {
	width: 60%;	
	margin-left: 15px;
}
.search-plastic {
	justify-content: center;
	padding: 10px 10px 10px 10px;
	height: 10%;
	width: 100%;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
}
#trash, .search-bar {
	width: 100%;
}
#trash {
	height: 80%;
}
.search-bar {
	height: 100%;
	font-size: 10px;
}
.search-p {
	margin-top: 5px;
	width: 50%;
}
.logpage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;
}
.search-plastic, .trash-add-delete {
	display: flex;
	flex-direction: column;
}

#drag-tip{
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 0px 5px 0px 5px;
  height: 10%;
  display: flex;
  align-items: center;
}
.plastic-contents, .search-plastic {
	align-items: center;
}
.plastic-contents, .single-plastic {
	display: flex;
	flex-direction: column;
}
.plastic-contents {
	padding: 30px 15px 30px 15px;
	height: 80%;
  border-radius: 0px 0px 10px 10px;
}
.single-plastic {
	height: 70px;
	width: 70px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 3px solid #FAF4B1;	
	text-align: center;
	align-items: center;
	justify-content: center;
	z-index: 1;
	flex-shrink: 0;
	font-size: 10px;
	word-wrap: break-word;
  background-color: #FAF4B1;
  box-shadow: 2px 2px #DFD32B;
  overflow: hidden;
  color: #15203B;
}
.single-plastic i {
	font-size: 25px;
}
p {
	margin: 0;
}

.recycling-bin {
	height: 50%;
  text-align: center;
  position: relative;
}
.rec-logo {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  color: transparent;  
  text-shadow: 0 0 0 rgb(78, 90, 82);
  
}
.contents, .add-delete {
	border-radius: 15px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.well.contents {
  visibility: hidden;
  height: 25%;
	margin-bottom: 10%;
  border: 2px solid #5F77A6;
  box-shadow: 5px 5px #314882;
}
.add-delete{
	margin: 5% 0px 0px 0px;
	height: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 12px;
  border-radius: 15px;
  color: white;
  background-color: #8C9EC0;
  border: 2px solid #5F77A6;
  box-shadow: 5px 5px #314882;
  text-shadow: 2px 1px 1px #5F77A6;
}

#secondary-submit {
    height: 10%;
  color: white;
    text-shadow: 1px 1px 3px #314882;
background-color: #DFD32B;
border: 2px solid #FAF4B1;
box-shadow: 5px 5px #FAF4B1;
margin-top: 0px;
margin-bottom: 3px;
font-size: 15px;
}

.tip, .tip2 {
	text-align: center;
}
.tip2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  font-size: 10px;
  padding: 0px 5px 0px 5px;
  box-shadow: 3px 3px 3px #15203B; 
  overflow: hidden;
}
.plastic-contents, .contents {
	overflow-x: hidden;
	overflow-y: scroll;
}

.divider {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.p-num, .p-text {
  font-size: 15px;
}
.p-text {
	word-wrap: break-word;
	width: 65%;
}
.p-num {
	margin-left: 10px;
	margin-right: 10px;
}
#total-plastic, #total-plastic1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#total-plastic {
  height: 70%;
  font-size: 2em;
}
#total-plastic1 {
  height: 30%;
  font-size: 0.7em;

}
.deleteable {
	background-color: #9C2D2F;
  border: 3px solid #9C2D2F;  
  box-shadow: 2px 2px #802D2F;
  color: white;
}
.cross {
	color: blue;
  font-size: 15px;
}
