 body {
   	font-family: 'Manjari', sans-serif;
   	font-size: 14px;
     background-image: linear-gradient(179deg, #D2CC76, #c0c0c0 15%, #768CB6 80%, #8C9EC0 85%, #314882);
     background-position: center;
    }

h1 {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 65px;
	letter-spacing: -1px;
	background-color: transparent;
	color: #D2CC76;
	margin: 100px auto;
	padding: 10px;
	text-align: center;
	text-shadow: 3px 2px 3px #de6903;
	box-shadow: 0 12px 16px 0 #314882, 0 17px 30px 0 #768CB6;
}

#formContainer{
	background-color: #8C9EC0;
	box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border-radius: 30px;
	width: 85%;
	height: 45%;
	margin: 10px auto;
}

#header{
	width: 100%;
	height:10px;
}


#email {
	background-color: #768CB6;
	color: white;
	width: 90%;
	height: 40px;
	padding-left: 5px;
	display: block;
	margin: 25 auto;
	border: none;
	outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#password, #password2{
	background-color: #768CB6;
	color: white;
	padding-left: 5px;
	width: 90%;
	height: 40px;
	display: block;
	margin: 10 auto;
	border: none;
	outline: none;
}


#buttons{
	width: 90%;
	margin: auto;
}

#signUp{
	background-color: #314882;
	box-shadow: 3px 2px 5px #15203B;
	color: white;
	border: none;
	width: 100%;
	padding: 15px 15px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: auto;
}


button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}