/*containers, jumbotron, well styling*/
body{
  font-family: 'Manjari', sans-serif;
  color: #15203B;
    font-size: 15px;
    line-height: 22px;
     background-image: linear-gradient(179deg, #314882, #8C9EC0 20%, #768CB6, #cfcfcf 80%, #c0c0c0 85%, #D2CC76);
     background-position: center;
     margin-bottom: 100px;
}
.container{
  color:#DFD32B ;
  text-align: center;
  font-color: yellow;
  font-family: 'Righteous', sans-serif;
    font-size: 40px;
}

.title{
  /*text-transform: lowercase;*/
}

.well {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.well2 {
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

.tip-titles {
  font-size: 20px;
  color: white;
  background-color: #8C9EC0;
  margin: 0px 0px 20px 0px;
  line-height: 20px;
  border-radius: 15px;
  border-left: 2px solid #5F77A6;
  border-top: 2px solid #5F77A6;
  box-shadow: 5px 5px #314882;
  text-shadow: 2px 1px 1px #5F77A6;
}
.descriptions {
  margin: 0px 0px 15px 0px;
}

#desc {
  display: none;
}

/*Hover styling
#title:hover  + #desc {
  display: block;
}
*/
